extends layout
block content
  header
  div(id="banner" class="col-md-8" style="text-align:left")
   h1 RandView
  div(id="banner" class="col-md-4" style="text-align:right") 
    form(id="login_form" action='/login',method='post')
      div(class="col-xs-4") 
        h5() email
        input(id='email' type='text',value='' placeholder='email' name='email')
      div(class="col-xs-4") 
        h5() password
        input(id='password' type='password' value='' placeholder='password' name='password')  
      div(class="col-xs-4" id="login_button")
        input(type='submit' value='Log in')
  body
    div(id="content")
        div(id="video_query") 
          form(action='/getVideo',method='post')
            div()
              input(id='email',type='text',value='',placeholder='Enter your video preference here',name='video_query')
            div()   
              input(type='submit',value='Enter')

  script(type="text/javascript" src="./javascripts/clientSide.js")
