#banner {
  text-align: center;
  background-color: red;
  border-bottom: 2px solid lightgray;
  border-right: 2px solid lightgray;
  height: 70px;
}

#content {
  background-color: whitesmoke;
  text-align: center;
}

#signup {
  background-color: whitesmoke;
  text-align: center;
}

.button {
  width: 250px;
  background-color: silver;
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 20px;
  font-style: inherit;
  display:inline-block;
  text-align: center;
}

.logo {
  cursor: pointer;
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 40px;
  font-style: inherit;
  display:inline-block;
}

#login_form {
  vertical-align:text-top;
  text-align: left;
}

#login_button {
  vertical-align:text-top;
  text-align: left;
}

#signup_font {
  font-size: 40px;
  font-weight: 500;
}

#video_query_input {
  width: 250px;
}

/*Chat CSS*/

body {
  font: 13px Helvetica, Arial;
}

#message_form { 
  background: #000;
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%;
}

#chat_div {
  margin: 0; padding: 0; box-sizing: border-box; 
}

#message { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
#message_button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
